* {
	margin: 0;
	padding: 5;
	border: 2;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  }

body {
	line-height: 2;
	padding: 10;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
}

title {
	color: #E5E8E8;  
	text-align: center;
}

q, blockquote {
	quotes: none;
}
 
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

body {
	font-family: "Courier New";
	color: #000000;
	font-size: 24px
	background-color: #FFFFFF
	text-align: center;
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
}
h1{
	font-family: "Courier New";
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: #5499C7;  
}

#main {
	padding: 50px;
	background-image: url("download.jpg");
    	background-repeat: no-repeat;
	background-size: cover;
}

